<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <h1 class='title'>Djwitter</h1>
                </div>
            </div>
        </nav>
    </section>

    <section class="section">
        <div class="container">
            {% for tweet in tweets %}
            <div class="box">
                <p>
                    <strong>{{ tweet.user.first_name }} {{ tweet.user.last_name }}</strong> <small>@{{ tweet.user.username }}</small>
                    <br>
                    {{ tweet.body }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>

</body>
</html>