{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            {% for tweet in tweets %}
            <div class="box">
                <p>
                    <strong>{{ tweet.user.first_name }} {{ tweet.user.last_name }}</strong> <small>@{{ tweet.user.username }}</small>
                    <br>
                    {{ tweet.body }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
